* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    margin-top: 0%;
    text-align: center;
    width: 100%;
    background-color: black;
    color: lightgray;   
}
body{
    background-color: rgb(37, 37, 37);
}
.content{
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    background-color: darkgray;
    border: 2px;
    border-radius: 3px;
}
.projects{
    font-style: bold;
    font-size: 15px;
    color: black;
}
button{
    border-radius: 3px;
    background-color: black;
    color: white;
}
button:hover{
    background-color: white;
    color: black;    
    transition: 150ms;
    border-radius: 20px;
}
footer{
    text-align: center;
    background-color: rgb(194, 194, 194);
    margin-top: 700px
}
img{
    background-color: white;
    width: 55px;
}